*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* Trang chủ tiêu để */
.header nav{
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 80px;
    background-color: aliceblue;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 2em;
    color: rgb(68,60,60);
    cursor: default;
}
.header span{
    color: red;
}
ul li{
    position: relative;
    display: inline-block;
}
ul a:hover{
    color: red;
}
ul li a{
    display:  block;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 1.3em;
    color: rgb(68,60,60);
    font-weight: 500;
    transition: 0.3s;
    text-transform: uppercase;
}
.login{
    color: white;
    height: 50px;
    width: 50px;
    padding-top: 10px;
    margin-left: 50px;
    text-decoration: none;
    background-color: red;
    border-radius: 50%;
    border: 2px solid red;
    transition: 0.3s;
    font-size: 1.4em;
    text-align: center;
    /* cursor: default; */
}
.login:hover{
    color: red;
    background-color: transparent;
}
#toggle, .header label{
    display: none;
}

/* Phần lấy thông tin */
main h1{
    text-align: center;
    margin: 40px 0 60px 0;
}
.contact{
    padding: 0 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 50px;
}
.contact h2{
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.contact .info{
    width: calc(100%/3 - 50px);
}
.contact .info h4{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}
.contact .info p{
    padding-top: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact .form-info{
    margin-left: 50px;
    width: calc((100%*2)/3 - 50px);
}
.contact .form-info .form-input{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#area{
    height: 150px;
}
.contact .form-info button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;

}
.contact .form-info button:hover{
    background-color: aqua;
    color: black;
}

/* Phần vị trí */
.map{
    margin: 80px 0 0 0;
    width: 100%;
    height: 400px;
    background-image: url(anhbt/map.jpg);
}

/* Phần chân trang */
footer{
    padding: 50px 100px;
    background-color: rgba(20, 19, 19, 0.801);
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.left{
    width: calc(50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.425);
}
.left h2{
    font-size: 1.5em;
    margin-bottom: 20px;
}
.left .left-1{
    width: calc(50%);
}
.left .left-1 p{
    font-size: 0.8em;
    opacity: 0.5;
    text-align: left;
}
.left .left-2{
    width: calc(35%);
}
.left .left-2 p{
    margin-bottom: 10px;
}
.left .left-2 a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: 0.9em;
}
.left .left-2 a:hover{
    color: rgb(0, 255, 242);
}
.right{
    margin-left: 40px;
    width: calc(40%);
}
.right form{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 25%;
}
.right form input{
    width: calc(70%);
    background-color: white;
    border: none;
    color: black;
    height: 100%;
    padding: 5px 10px;
}
.right form button{
    border: none;
    background-color: white;
    width: calc(20%);
    height: 100%;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header nav{
        padding: 20px 40px;
    }
    .background-img{
        margin-top: 40px;
    }
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        padding: 10px;
    }
    .window-menu{
        margin-right: 40px;
        display: block;
    }
    label{
        font-size: 1.5em;
    }
    #navbar{
        position: fixed;
        width: 30%;
        flex-direction: column;
        align-items: center;
        top: 60px;
        left: 0;
        transition: all .8s;
    }
    #navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #navbar ul li a{
        font-size: 15px;
    }
    .header label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggle:checked ~ #navbar{
        max-height: 100%;
        background-color: white;
    }
}